<tr><td>
<div>
<label style="margin-right:15px">Bag Name:</label><span><em>{{bag}}</em></span><br>
<label style="margin-right:15px">Project:</label><span>{{project}}</span><div style="float:right"><label style="margin-right:15px">Department:</label><span>{{department}}</span></div><br>
<label style="margin-right:15px">S3 Valid:</label><span><em>{{s3.valid}}</em></span><br> 
<label style="margin-right:15px">S3 Bucket:</label><span><em>{{s3.bucket}}</em></span><br>
<label style="margin-right:15px">S2 Norfile Valid:</label><span><em>{{norfile.valid}}</em></span><br>
<label style="margin-right:15px">NAS Exists:</label><span><em>{{nas.exists}}</em></span><br>
<label style="margin-right:15px">NAS Placeholder:</label><span><em>{{nas.place_holder}}</em></span><br>
<label style="margin-right:15px">NAS Location:</label><span><em>{{nas.location}}</em></span><br>
</div>
</td></tr>
